<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Wind Down</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
    <link rel="stylesheet" href="css/documentation.css">
    <!-- <link rel="stylesheet" href="css/skeleton.css"> -->

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script src="https://use.fontawesome.com/a181577975.js"></script>

    <title>{{ author }}'s app</title>
</head>

<body>
    <div class="siimple-navbar">
      <div class="siimple-layout--left">
        <a class="siimple-navbar-title">Wind ⬇</a>
      </div>
      <div class="siimple-layout--right">
        <a class="siimple-navbar-link" href="https://github.com/msradam/winddown"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
      </div>
    </div>

    <div class="siimple-grid" align="center" width="100%">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--3">‌‌ </div>
            <div class="siimple-grid-col siimple-grid-col--6">
                <div class="siimple-box siimple-box--green" align="center">
                  <div class="siimple-box-title"><i class="fa fa-twitter" aria-hidden="true"></i> Tweetalyze</div>
                  <div class="siimple-box-detail">Share your own handle to get personalized suggestions.</div>
                  <div class="siimple-box-detail">
                    <form method = "POST">
                      <input type="text" name="Handle" class="siimple-input" placeholder="@POTUS">
                      <div class="siimple-btn siimple-btn--grey"><input type = "submit" style="display: None;" value="Submit"/>Analyze!</div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="spacer siimple-grid-col siimple-grid-col--3">‌‌ </div>
        </div>

        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--3">‌‌ </div>
            <div class="siimple-grid-col siimple-grid-col--6">
                <div class="siimple-box siimple-box--purple" align="center">
                  <div class="siimple-box-title">Quiz Yourself</div>
                  <div class="siimple-btn siimple-btn--grey">Start!</div>
                  <div class="siimple-box-detail">The inner machinations of your mind are an enigma.</div>
                </div>
            </div>
            <div class="spacer siimple-grid-col siimple-grid-col--3">‌‌ </div>
        </div>

        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--3">‌‌ </div>
            <div class="siimple-grid-col siimple-grid-col--6">
                <div class="siimple-box siimple-box--blue" align="center">
                <div class="siimple-box-title">Paragraph Analysis</div>
                <div class="siimple-box-detail">Use your own paragraph.</div>
                <textarea class="siimple-textarea siimple-textarea--fluid" rows="5">
                    Start typing here.
                </textarea>
                <div class="siimple-btn siimple-btn--grey">Analyze!</div>
                </div>
            </div>
            <div class="spacer siimple-grid-col siimple-grid-col--3">‌‌ </div>
        </div>
    </div>
</body>
</html>
